* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0.25rem;
}
::-webkit-scrollbar-thumb {
	background-color: #EEEEEE;
	border-radius: 0.25rem;
}
::-webkit-scrollbar-track {
	background: transparent;
}

#app {
	height: 100vh;
	width: 100vw;
	padding: 2rem;
	background-color: #222831;
}

.signChat {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: black 1px solid;
	border-radius: 1rem;
	padding: 2rem;
	background-color: #393E46;
	color: #EEEEEE;
}

.signChat > *:not(:last-child) {
	margin-bottom: 1rem;
}

.input_signChat.is-invalid {
	margin-bottom: 0;
}

.form-control {
	background-color: #EEEEEE;
	border-color: #EEEEEE;
}

.form-control:focus {
	background-color: #EEEEEE;
	border-color: #393E46;
	box-shadow: none;
}

.chat {
	display: flex;
	width: 100%;
	height: 100%;
}

.chat > * {
	/*border: black 1px solid;*/
	border-radius: 1rem;
}

.users_chat {
	background-color: #393E46;
}

.users_chat > * {
	background-color: #EEEEEE;
}

.info_chat {
	display: flex;
	justify-content: end;
	flex-direction: column;
	background-color: #00ADB5;
	z-index: 100;
	margin-left: -2rem;
	padding: 1rem;
}

.messages_chat {
	padding: 0 0.5rem;
	overflow: auto;
}

.messages_chat > *:not(:last-child) {
	margin-bottom: 0.5rem;
}

.info_chat > *:not(:last-child) {
	margin-bottom: 0.5rem;
}

.message {
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: #393E46;
	color: #EEEEEE;
}

.title_message {
	display: flex;
	justify-content: space-between;
	font-size: 0.75rem;
	opacity: 0.5;
}

.current-user {
	color: #00ADB5;
}

.mr-25 {
	margin-right: 25%;
}

.ml-25 {
	margin-left: 25%;
}
